<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <link rel="shortcut icon" href="/images/favicon.ico?v=1">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Cache-Control" content="no-cache"/>
  <meta http-equiv="expires" content="0"/>
  <META name="Author" Content="Optimix Technology"/>
  <meta name="copyright" content="Copyright &copy; 2010 OPTIMIX"/>
  <meta name="Robots" content="none,noindex,nofollow,noarchive"/>
  <title><%= t("title") %></title>
  <link href="/stylesheets/xmo/xmo_bs/login.css" media="screen" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="topbar">
  <div class="container">
    <%= image_tag "logo/xmo.optimix.asia.png", :class => "logo" %>
    <div class="language">
    </div>
  </div>
</div>

<div class="hero ac red_bg" id="show_text">
  <div class="container">
    <%= image_tag "login/arrow.png", :class => "login_arrow" %>

    <div class="row">
      <div class="reset_mail">
        <div>我们已经发送说明到您的电子邮件。</div>
        <p>如果你没有收到邮件，请确认查看垃圾邮件。<br>
          如果仍有问题，请联系：<a href="mailto:technology@i-click.com" style="text-decoration:underline; color:white;">technology@i-click.com</a>
        </p>
      </div>
    </div>
    <div id="copyright">
      <div>Copyright © 2014 iClick Interactive Asia Limited. All Rights Reserved.</div>
      <div style="margin-top:20px;width: auto;">建议采用浏览器: Internet Explorer 8.0 and 9.0, Chrome 8.0+, Firefox 3.5+,
        Safari 1.0+, Opera V11+.
      </div>
    </div>
  </div>
  <div class='red_bg_img'></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('.btn-login').hover(
                function () {
                    $('.btn-login-img').attr("src", "<%= I18n.locale.to_s=='zh-cn' ? '/images/login/submit-button-CN.png' : '/images/login/submit-button.png'%>");
                },
                function () {
                    $('.btn-login-img').attr("src", "<%= I18n.locale.to_s=='zh-cn' ? '/images/login/submit-button-CN.png' : '/images/login/submit-button.png'%>");
                }
        );

        $("#username").focus();
    });
</script>

</body>
</html>

