<div style="margin-top: -50px;float: right;">
  <%= render 'client_approval_flow' %>
</div>
<div class="big_section big_section_book">
  <div id="client_detail_error" class="client_tip"></div>
  <div id="client_error" style="margin-bottom: 60px;"></div>

  <% if flash[:notice] %>
      <div class="notice" style="margin-bottom: 60px;"><%= flash[:notice] %></div>
  <% end %>
  <%= form_for(@client, :url => {:action => "client_examine"}, :html => {:id => "client_show_form", :class => "form-horizontal"}) do |f| %>
      <!-- sub_section_white start -->
      <div class="sub_section_white sub_section_white_book">
        <div class="control-group t_margin_20">
          <label class="control-label">
            <label for="campaign_campaignname" class="inline"><%= t("clients.index.client_number") %></label>
          </label>

          <div class="controls">
            <div class="row">
              <div class="span">
                <%= f.text_field :code, :value => "#{@client.code}", :class => "required span5", :size => 30, :readonly => true %>
              </div>
            </div>
          </div>
        </div>
        <div class="control-group t_margin_20">
          <label class="control-label">
            <label for="campaign_campaignname" class="inline"><%= t("clients.index.client_name") %>&nbsp;*</label>
          </label>

          <div class="controls">
            <div class="row">
              <div class="item_two_w_help">
                <div class="span">
                  <%= f.text_field :clientname, :disname => "客户名称", :class => "required span5", :readonly => true, :size => 30 %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="control-group t_margin_20">
          <label class="control-label">
            <label for="campaign_campaignname" class="inline"><%= t(".product_name") %>&nbsp;*</label>
          </label>

          <div class="controls">
            <div class="row">
              <div class="span">
                <%= f.text_field :brand, :disname => "品牌名称", :class => "required span5", :readonly => true, :size => 30 %>
              </div>
            </div>
          </div>
        </div>


        <div class="control-group t_margin_20">
          <label class="control-label">
            <label for="campaign_campaignname" class="inline"><%= t("clients.index.channel") %></label>
          </label>

          <div class="controls">
            <div class="row">
              <div class="item_four_w_help">
                <div class="span">
                  <label class="radio">
                    <%= radio_button("client", "whether_channel", 1, :checked => (@client.whether_channel == true ? "checked" : ""), :disabled => true) %>
                    <span><%= t(".yes_flag") %></span>
                  </label>
                </div>

                <div class="span">

                  <select name="client[channel]" id="client_channel" data-placeholder="<%= t("order.form.please_select") %>" style="width:269px;margin-left:24px;margin-right:24px;" disabled=> <%= @role_disabled %>
                    >
                    <option d_currency_name="" value=""><%= t('order.form.please_select') %></option>
                    <% select_id = @client.channel? ? @client.channel.to_s : ''
                       all_agencys = options_for_channels(@client)
                       all_agencys.each do |x| %>
                        <option d_currency_name="<%= x.currency_name %>" value=<%= x.id %> <%= x.id.to_s == select_id ? selected = 'selected' : '' %>><%= x.channel_name %></option>
                    <% end %>
                  </select>
                </div>

                <div class="span ">
                  <label class="radio">
                    <%= radio_button("client", "whether_channel", 0, :checked => (@client.whether_channel == false ? "checked" : ""), :disabled => true) %>
                    <%= t(".no_flag") %>
                  </label>
                </div>
                <div class="span l_padding_15" id="check_client_name_and_brand" style="width:390px;"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="control-group t_margin_20">
          <label class="control-label"><%= t('clients.show.cross_client') %></label>

          <div class="controls">
            <div class="row">
              <div class="span">
                <label class="radio" style="margin-right:11px;">
                  <%= radio_button("client", "whether_cross_district", 1, :checked => (@client.whether_cross_district == true ? "checked" : ""), :disabled => true) %>
                  <%= t("clients.show.yes_flag") %> (<%= t('clients.show.cross_client_need') %>)
                </label>
              </div>
              <div class="span" style="margin-left:200px;">
                <label class="radio" style="margin-left:11px;margin-right:11px;">
                  <%= radio_button("client", "whether_cross_district", 0, :checked => ((@client.whether_cross_district.blank? || @client.whether_cross_district == "0") ? "checked" : ""), :disabled => true) %>
                  <%= t("clients.show.no_flag") %>
                </label>
              </div>
            </div>
          </div>
        </div>


        <div class="control-group t_margin_20">
          <label class="control-label">
            <label for="campaign_campaignname" class="inline"><%= t("clients.show.industry_name") %>&nbsp;*</label>
          </label>

          <div class="controls">
            <div class="row">
              <div class="span">
                <%= f.select :industry_id, options_for_industry(@client), {}, {:style => "width:380px", :disabled => true} %>
              </div>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">
            <label for="currency_id" class="inline"><%= t("products.index.channel_currency_name") %></label>
          </label>

          <div class="controls">
            <div class="row">
              <div class="span">
                <%= f.select :currency_id, options_for_client_currency(@client.currency_id), {:class => "required select span5 proof_ready_unmodify"}, :readonly => true, :style => "width:380px;" %>
              </div>
            </div>
          </div>
        </div>

        <div class="control-group t_margin_20">
          <label class="control-label">
            <label for="campaign_campaignname" class="inline"><%= t("clients.index.contact") %>&nbsp;*</label>
          </label>

          <div class="controls">
            <div class="row">
              <div class="span">
                <%= f.text_field :clientcontact, :disname => "客户联络人", :class => "required span5", :readonly => true, :size => 30 %>
              </div>
            </div>
          </div>
        </div>

        <div class="control-group t_margin_20">
          <label class="control-label">
            <label for="campaign_campaignname" class="inline"><%= t("clients.index.contact_position") %>&nbsp;*</label>
          </label>

          <div class="controls">
            <div class="row">
              <div class="span">
                <%= f.text_field :linkman_position, :disname => "联络人职位", :class => "required span5", :readonly => true, :size => 30 %>
              </div>
            </div>
          </div>
        </div>

        <div class="control-group t_margin_20">
          <label class="control-label">
            <label for="campaign_campaignname" class="inline"><%= t("clients.index.contact_number") %>&nbsp;*</label>
          </label>

          <div class="controls">
            <div class="row">
              <div class="span">
                <%= f.text_field :clientphone, :disname => "联络人电话", :class => "required span5", :readonly => true, :size => 30 %>
              </div>
            </div>
          </div>
        </div>

        <div class="control-group t_margin_20">
          <label class="control-label">
            <label for="campaign_campaignname" class="inline"><%= t("clients.index.address") %></label>
          </label>

          <div class="controls">
            <div class="row">
              <div class="span">
                <%= f.text_field :address, :disname => "公司地址", :class => "required span5", :readonly => true, :size => 30 %>
              </div>
            </div>
          </div>
        </div>

        <% if show_share_to_group? %>
            <div class="control-group">
              <label class="control-label">
                <label for="campaign_status"><%= t("clients.index.share_to") %></label>
              </label>

              <div class="controls">
                <div class="row">
                  <div class="item_two">
                    <div class="span">
                      <%= f.select :group_ids, Group.where("status = ?", "Active").collect { |c| [c.group_name, c.id] }, {}, {:multiple => true, :class => "chzn-select span5", :tabindex => "-1", :id => "client_group_ids"} %>
                    </div>
                    <div class="span">
                      <a class="selection_icon selection_trigger client_group_ids" data-target="#client_group_ids" href="javascript:void(0);"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>

        <div class="control-group">
          <label class="control-label" for=""><%= t("clients.index.client_owner") %>&nbsp;*
          </label>

          <div class="controls">
            <div class='row'>
              <% share_client_error = share_client_error? ? "have_error" : "" %>
              <div class='span <%= share_client_error %>'>
                <select id="user_share_operater_list" name="share_client[]" multiple data-placeholder="<%= t('order.form.please_select') %>" style="width:380px" class="chzn-select l_margin_0">
                  <%= options_for_share_sale("client",action_name) %>
                </select>
              </div>
              <div class="span l_margin_10 t_margin_5">
                <a class="selection_icon selection_trigger user_share_operater_list" data-target="#user_share_operater_list" href="javascript:void(0);"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="control-group t_margin_20">
          <label class="control-label">
            <label for="campaign_campaignname" class="inline"><%= t("clients.index.client_transfer") %></label>
          </label>

          <div class="controls">
            <div class="row">
              <div class="span">
                <%= f.select :user_id, options_for_transfer, {}, {:style => "width:380px"} %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- sub_section_white end -->
      <div class="row big_section_b_book">
        <!-- button area -->
        <div class="button_area">
          <div class="r_margin_20">

            <div class="pull-right">
              <div class="outer_cancel submit_btn">
                <a class="cancel cancel_pretargeting change_cancel_btn" href='<%= session[:left_tab] %>'>
                  <%= t(".back") %>
                </a>
              </div>

              <div class="outer_submit submit_btn" style="margin-left: 15px;">
                <input type="button" value="<%= t(".edit") %>" id="client_detail_edit" name="commit" class="submit_tag_button">
              </div>

            </div>
            <div id="submit_loading" style="display:none" class="save_loading pull-right r_margin_10 t_margin_10">
              <img src="/images/pre-loading_small.gif">
            </div>
          </div>
        </div>
      </div>

  <% end %>

</div>

<script type="text/javascript">
    $("#client_group_ids").attr('disabled', true);
    $("#client_group_ids").chosen();

    //右边触发js
    $('.selection_trigger').click(function () {
        var target = $(this).attr('data-target') + '_chzn';
        $(target).mousedown();
        return false;
    })

    $(".client_sync").prop('disabled', true);
    $("#user_share_operater_list").attr('disabled', true);
    $("#client_user_id").attr('disabled', true);
    $("#client_user_id").chosen();
    multiple_chosen("#user_share_operater_list", ".user_share_operater_list");
    $("#client_currency_id").attr('disabled', true);
    $("#client_currency_id").chosen();

    $("#client_channel").change(function () {
        change_client_channel();
    }).change();
    function change_client_channel() {
        if ($("#client_channel").val().length > 0) {
            $("#client_whether_channel_0").removeAttr("checked");
            $("#client_whether_channel_1").attr("checked", "checked");
        }
        else {
            $("#client_whether_channel_1").removeAttr("checked");
            $("#client_whether_channel_0").attr("checked", "checked");
        }
    }
    <%#if !((@client.state=="unapproved" || @client.state == "approved") && (@node_id == "6" || current_user.is_admin? ))%>
    // $("#client_commit").hide();
    <% #end %>


    $('#client_detail_edit').click(function () {
        var client_name = "<%= @client.clientname %>";
        var client_state = "<%= @client.state %>";
        if (client_state == "unapproved" || client_state == "cross_unapproved") {
            var client_under_examination = "<%= t('clients.index.unapproved')%>"
        }
        if (client_state == "unapproved" || client_state == "cross_unapproved") {
            $('#client_detail_error').addClass('error');
            $('#client_detail_error').text(client_name + " " + client_under_examination + "<%= t('clients.form.client_under_examination2') %>")
            $("#client_detail_error").show();
        } else {
            $('#client_detail_error').removeClass('error');
            $('#client_detail_error').text("");
            $("#client_detail_error").hide();
            window.location.href = "<%= edit_client_url(@client.id,:node_id=>@node_id) %>"
        }
    });
</script>
