<div id="client_error"></div>

<div id="index">
  <div id="ajax-tabular"></div>
  <div style="clear:both"></div>

  <div class="t_margin_0">
    <div class="search_filter_wraper">
      <div class="row" style="margin-top:10px">
        <div class="filter_div">
          <span class="relative_t_7 r_margin_10 l_margin_10"><%= t("order.status_label") %></span>
          <select class="select required" id="chosen_test" disname="chosen下拉">
            <option value=""><%= t('order.status.all_status') %></option>
            <option value="<%= t('.cli_saved') %>"><%= t(".cli_saved") %></option>
            <option value="<%= t('.unapproved') %>"><%= t(".unapproved") %></option>
            <option value="<%= t('.cross_unapproved') %>"><%= t(".cross_unapproved") %></option>
            <option value="<%= t('.approved') %>"><%= t(".approved") %></option>
            <option value="<%= t('.cli_rejected') %>"><%= t(".cli_rejected") %></option>
            <option value="<%= t('.released') %>"><%= t(".released") %></option>
          </select>

          <span class="relative_t_7 r_margin_10 l_margin_10"><%= t("order.view_lable") %></span>
          <select class="select required" id="date_range" disname="chosen下拉" style="width: 280px;">
            <%= option_for_date %>
          </select>

        </div>
      </div>
    </div>


    <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <div id="all_clients">
      <div style="text-align:center;margin-top:20px">
        <img src="/images/ajax-loader.gif" class="loading_img">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#date_range").trigger("change")
    });
    $(".client_href").click(function () {
        $(".client_href").attr('href', "<%= download_clients_url%>" + "?date_range=" + $("#date_range").val() + "");
    })
    $("#date_range").change(function () {
        $("#all_clients").html("<div style='text-align:center;margin-top:20px'> <img src='/images/ajax-loader.gif' class='loading_img'> </div>")
        $.get("<%= loading_all_clients_path%>", {date_range: $("#date_range").val()}, function (data) {
            $("#all_clients").html(data);
            $("#chosen_test").val("");
        })
    });
</script>