<!-- body start -->
<script type="text/javascript" src="/js/xmo-calendar.js"></script>
<script src="/js/chosen.jquery.min.js?9120" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/css/css/xmo-calendar.css">
<style>
    .ui-autocomplete {
        max-height:200px;
        max-width: 380px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
    * html .ui-autocomplete {
        width: 380px;
    }
</style>
<div  class ="big_section">
<% if @event.errors.any? %>
    <div class="big_section">

      <div id="error_explanation" class="error sticker">
        <h2><%= @event.errors.count %>个错误导致群组不能添加成功 :</h2>
        <ul>
          <% @event.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if ["edit", "update"].include?(params[:action])
     @disabled=false
     else
     @disabled=true
     @select_disabled="disabled"
     end
%>

<%= form_for(@event ,:html=>{:id=>"event_form", :class=>"form-horizontal"}) do |f| %>

<div class="sub_section_white">

      <div class="control-group t_margin_20">
        <label class="control-label">
          <label for="campaign_campaignname" class="inline">事件通知名称</label>
        </label>
        <div class="controls">
          <div class="row">
            <div class="span">
              <%= f.text_field :name, :disname=>"事件通知名称", :class=>"required span5",:size=>30 ,:disabled=>true %>
            </div>
          </div>
        </div>
      </div>

      <div class="control-group t_margin_20">
        <label class="control-label">
          <label for="campaign_campaignname" class="inline">事件通知类型</label>
        </label>
        <div class="controls">
          <div class="row">
            <div class="span">
              <%= f.text_field :event_type,:disname=>"事件通知类型", :class=>"required span5",:size=>30,:disabled=>true %>
            </div>
          </div>
        </div>
      </div>



      <div class="control-group t_margin_20">
        <label class="control-label">
          <label for="campaign_campaignname" class="inline">群组</label>
        </label>
        <div class="controls">
          <div class="row">
            <div class="span">
              <select id="event_group_list"  name="event[group_ids][]" multiple data-placeholder="请选择"  style="width:390px" class="chzn-select l_margin_0" <%= @select_disabled %>>
                <%= options_for_event_group_list %>
              </select>
            </div>
            <div class="span l_margin_10 t_margin_5">
              <a class="selection_icon selection_trigger" data-target="#event_group_list" href="javascript:void(0);"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="control-group t_margin_20">
        <label class="control-label">
          <label for="campaign_campaignname" class="inline">人员</label>
        </label>
        <div class="controls">
          <div class="row">
            <div class="span">
              <select id="event_user_list" name="event[user_ids][]" multiple data-placeholder="请选择" style="width:390px"  class="chzn-select l_margin_0" <%=@select_disabled%> >
                <%= options_for_event_user_list %>
              </select>
            </div>
            <div class="span l_margin_10 t_margin_5">
              <a class="selection_icon selection_trigger" data-target="#event_user_list" href="javascript:void(0);"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="control-group t_margin_20" >
        <label class="control-label">
          <label for="campaign_campaignname" class="inline">通知方式</label>
        </label>
        <div class="controls">
          <div class="row">
            <div class="item_four_w_help">
              <div class="span">
                <label class="radio">
                  <%= radio_button("event", "notify_type", "relative",:checked=>(@event.notify_type == "relative" ? "checked" : ""),:disabled => @disabled )%>
                  相对通知
                </label>
              </div>

              <div class="span" >
                <label class="radio" style="margin-left: 20px">
                  <%= radio_button("event", "notify_type","absolute",:checked=>(@event.notify_type == "absolute" ? "checked" : ""),:disabled => @disabled )%>
                  绝对通知
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
    <!-- sub_section_white end -->
    <div class="row t_margin_30">
      <!-- button area -->
      <div class="button_area">
        <div class="r_margin_20">
          <div class="pull-right">
            <div class="outer_cancel"><button type='button' href='/events'>返回</button></div>
            <% if ["show"].include?(params[:action]) %>
                <div class="outer_cancel"><button type='button' href='<%= edit_event_path(@event.id) %>'>修改</button></div>
            <%end%>

            <div class="outer_submit">
              <input type="submit" value="提交" name="commit" class="submit_tag_button" confirm='您确定要提交吗？'>
            </div>
          </div>
          <div id="submit_loading" style="display:none" class="save_loading pull-right r_margin_10 t_margin_10">
            <img src="/images/pre-loading_small.gif">
          </div>
        </div>
      </div>
    </div>
<%end%>
</div>

<script type="text/javascript">

    multiple_chosen("#event_group_list", ".event_group_list");
    multiple_chosen("#event_user_list", ".event_user_list");
    $('.selection_trigger').click(function(){
    var target = $(this).attr('data-target') + '_chzn';
    $(target).mousedown();
    return false;
    });
    <% if ["edit", "update"].include?(params[:action]) %>
    $(".outer_submit").show();
    <% elsif ["show", "new","create"].include?(params[:action])%>
    $(".outer_submit").hide();
    <% end %>
</script>