<% ad ||= Advertisement.new %>

<input type="text" id="<%=index%>" style="display:none;" class='align_right current_index' />
<div class="control-group t_margin_20" id="ad_<%=index%>_zone">
  <label class="sub_adv inline control-label align_right" data-target="#ad_<%=index%>_setting" data-toggle="collapse"><%= t('order.form.product_column') %><span id="ad_<%=index%>"><%=index%></span><i class= "icon-arrow-right <%= ad.new_record? ? 'icon-arrow-down' : 'icon-arrow-down'%>"></i></label>
  <% if ["new", "create", "edit", "update", "add_ad_form"].include?(params[:action]) %>
  <div class="controls">
    <div class=" first_row">
      <div class="span table_cell add_button_div l_padding_0" id="ad_<%=index%>_add_row">
        <a href="javascript:void(0)" id="ad_<%=index%>_add" class="row_add table_cell link" onclick="add_ad_row(<%=index%>)"><i class="icon-add-big"></i><%= t('order.form.add_product_label') %>
        </a>
      </div>
      <div class="span table_cell" id="ad_<%=index%>_delete_row">
        <% if index > 1%>
        <a href="javascript:void(0)" id="ad_<%=index%>_delete" class="row_del l_margin_25 link" onclick="delete_ad_row(<%=index%>)"><i class="icon-remove-new"></i><%= t('order.form.delete_product_label') %></a>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

  <% if ad.id.present? %>
    <%= hidden_field "ad_#{index}", :id, :value => ad.id %>
  <% end %>

 
  <div id="ad_<%=index%>_setting" class="ad_setting_sub collapse <%= ad.new_record? ? 'in' : 'in'%>">
    <div class="l_padding_0 t_padding_5">
      <div class="section t_padding_10 b_padding_10">
        <div class="row t_margin_10">
          <div class='item_four'>
            <div class="span2 ">
              <label class='sub_txt2'><%= t('order.form.product_category') %></label>
            </div>
            <div class="span" id="ad_<%=index%>_ad_type_change">
              <%= select "ad_#{index}", :ad_type, options_for_ad_type((@actionname ? @actionname : self.action_name),ad.ad_type), {:selected =>(ad.ad_type), :include_blank => t('order.form.please_select') }, {:name=>"ad_#{index}[ad_type]",:class => "select span5 adv_ad_type" ,:include_blank => true } %>
            </div>
          </div>
        </div>

        <!-- 广告形式 -->
        <div class="row t_margin_10 <%= ad.ad_type == "OTHERTYPE" ? 'hide' : '' %>" id = "ad_<%=index%>_product_id_tag" >
          <div class='item_four'>
            <div class="span2 ">
              <label class='sub_txt2'><%= t('order.form.product_column') %></label>
            </div>
            <div class="span" id="ad_<%=index%>_product_id_change">
              <%#= select "ad_#{index}", :product_id, order_bu_product((@actionname ? @actionname : self.action_name), ad.ad_type ,ad.product_id), {:selected => (ad.product_id), :include_blank => t('order.form.please_select') }, {:name=>"ad_#{index}[product_id]",:class => "select span5 adv_product_id" } %>
            </div>
          </div>
        </div>
        
        <div class="row t_margin_10 <%= ad.other_product? ? '' : 'hide' %>" id="ad_<%=index%>_orter_type_notice" >
          <div class='item_four'>
            <div class="span2 " style="vertical-align: top;">
              <label class='sub_txt2'>  </label>
            </div>
            <div class="span9 yellow_mark">
              <%= t('order.form.ad_format_description2') %>
            </div>
          </div>
        </div>

        <!-- 预算分配 -->
        <div class="row t_margin_10">
          <div class='item_four'>
            <div class="span2 ">
              <label class='sub_txt2'><%= t('order.form.budget_allocations') %></label>
            </div>
            <div class="span">
              <div class="input-append">
                <%= text_field "ad_#{index}", :budget_ratio, :value=> "",:disname=>"折扣", :class=>"number novalidate",:style=>"width:340px; display:none;",:dis_wiget => "#ad_#{index}_budget_ratio_dis_input", :name => "ad_#{index}[budget_ratio]", :value => number_with_precision(ad.budget_ratio, :precision => 2)  %>
                <input type="text" id="ad_<%=index%>_budget_ratio_dis_input" style="width:340px;" class='align_right numeric adv_budget_ratio' name='budget_ratio' value="<%= number_with_precision(ad.budget_ratio, :precision => 2) %>" />
                 <span class="add-on">%</span>
              </div>
            </div>
            <div class="span l_padding_10 ratio_error font_27">
              <% if !ad.new_record? && !ad.order.tatol_budget_radio_is_100 %>
                <%= t('order.form.budget_allocations_description') %>
              <% end %>
            </div>
          </div>
        </div>
        
        <!-- 展示量 -->
        <div class="row t_margin_10 <%= ad.special_ad? ? 'hide' : '' %> " id="ad_<%=index%>_other_type_price" >
          <div class="span" style="margin-left:120px;">
           <label class="" style="font-size:12px;">
              <span style="width: 130px;display: inline-block;">
                <span><%= t('order.form.card_rate') %></span>
                <% public_price = ad.special_ad? ? "" : (ad.public_price.nil? ? "" : ad.public_price) %>

                <span class="currency_unit">RMB</span>&nbsp;&nbsp;<span id="ad_<%=index%>_public_price"><%= number_with_precision(public_price, :precision => 2) %></span>
              </span>
              <span><%= t('order.form.min_sell_price') %></span>
             <% general_price = ad.special_ad? ? "" : (ad.general_price.nil? ? "" : ad.general_price) %>
             <span class="currency_unit">RMB</span>&nbsp;&nbsp;<span id="ad_<%=index%>_general_price"><%= number_with_precision(general_price, :precision => 2) %></span>
           </label>
          </div>
        </div>

        <!-- 卖价 -->
        <div class="row t_margin_10">
          <div class='item_four'>
            <div class="span2">
              <label class='sub_txt2'><%= t('order.form.sell_price') %></label>
            </div>
            <div class="span r_padding_15">
            <% if @order.present? %>
                  <%= select "ad_#{index}", :cost_type,[["CPM","CPM"],["CPC","CPC"],["CPE","CPE"]], {:selected => ( ad.new_record? && !@clone_order.present? ) ? @order.errors.present? ? ad.cost_type : "CPC" : ad.cost_type},{:name=>"ad_#{index}[cost_type]",:class => "required span2 adv_cost_type"} %>
            <% else %>
                  <%= select "ad_#{index}", :cost_type,[["CPM","CPM"],["CPC","CPC"],["CPE","CPE"]], {:selected => ( ad.new_record? && !@clone_order.present? ) ? "CPC" : ad.cost_type},{:name=>"ad_#{index}[cost_type]",:class => "required span2 adv_cost_type"} %>
            <% end %>

            </div>
            <div class="span">
              <div class="input-append">
                <%= text_field "ad_#{index}", :cost,:disname=>"卖价", :class=>"number novalidate",:style=>"width:218px;display:none;", :dis_wiget => "#ad_#{index}_cost_dis_input", :name => "ad_#{index}[cost]",:value => number_with_precision(ad.cost, :precision => 2) %>
                <input type="text" id="ad_<%=index%>_cost_dis_input" style="width:218px;" class='align_right numeric adv_cost' name='cost' value="<%= number_with_precision(ad.cost, :precision => 2) %>"/>
                <span class="add-on currency_unit" id="currency_show">RMB</span>
              </div>
            </div>
            <div class="span l_padding_10 font_27" id="ad_<%= index %>_check_cost">
              <% unless ad.special_ad? %>
              <% unless ad.cost_can?.nil?%>
                <% if ad.cost_can? %>
                  <img src='/images/icon_tick.png'/>
                <% else %>
                  <span style='padding-right: 5px;'><img src='/images/icon_cross.png'/></span><%= t('order.form.price_description_content') %>
                <% end %>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <!-- 展示量 -->
        <div class="row t_margin_10">
          <div class="span" style="margin-left:120px;">
            <label class="" style="font-size:12px;<%= ad.cpe? ? '' : 'display:none;'%>" id='ad_<%=index%>_cpe_show'>
              <%= t('order.form.interactive_times') %><span id='ad_<%=index%>_cpe_times'><%=ad.cpe_times.nil? ? "" : number_with_precision(ad.cpe_times, :precision => 0, :delimiter => ",") %></span>
            </label>
           <label class="" style="font-size:12px;<%= ad.cpe? ? 'display:none;' : ''%>" id='ad_<%=index%>_cpc_and_cpm'>
            <% if ad.new_record? || ad.cpm? %>
              <% cpm_show = "" %>
              <% cpc_show = "hide" %>
            <% elsif ad.cpc? %>
              <% cpm_show = "hide" %>
              <% cpc_show = "" %>
            <% end %>
              <span style="display: inline-block;">
                <span id="ad_<%=index%>_cpm_text" class="<%= cpm_show %>" ><%= t('order.form.impressions_num') %></span>&nbsp;&nbsp;<span id="ad_<%=index%>_show_cpm_prediction" class="<%= cpm_show %>"><%= (ad.impressions_prediction.nil? || ad.before_other_ctr? ) ? "" : number_with_precision(ad.impressions_prediction, :precision => 0, :delimiter => ",") %></span><span id="ad_<%=index%>_cpc_text" class="<%= cpc_show %>"><%= t('order.form.clicks_num') %></span>&nbsp;&nbsp;<span id="ad_<%=index%>_show_cpc_prediction" class="<%= cpc_show %>"><%= (ad.clicks_prediction.nil? || (ad.planner_ctr.nil? && ad.other_product?)) ? "" : number_with_precision(ad.clicks_prediction, :precision => 0, :delimiter => ",") %></span>
              </span>&nbsp;&nbsp;
              <span style="padding-left:0px;">
                <span id="ad_<%=index%>_other_type_ctr" class="<%= ad.special_ad? ? "hide" : "" %>">
                  <%= t('order.form.estimate_ctr') %>&nbsp;&nbsp;
                  <span id="ad_<%=index%>_ctr_prediction"><%= (ad.offer.nil? || ad.forecast_ctr.nil?) ? "" : number_with_precision(ad.forecast_ctr, :precision => 2) %>%</span>
                </span>
                <span class="r_padding_10">&nbsp;&nbsp;&nbsp;&nbsp;
                  <span id="ad_<%=index%>_cpc_pre_text" class="<%= cpm_show %>"><%= t('order.form.estimate_cpc') %></span>&nbsp;&nbsp;<span id="ad_<%=index%>_cpc_prediction" class="<%= cpm_show %>"><%= (ad.offer.nil? || ad.cpc_prediction.nil?) && ad.before_other_ctr? ? "" : number_with_precision(ad.cpc_prediction, :precision => 2) %></span>
                  <span id="ad_<%=index%>_cpm_pre_text" class="<%= cpc_show %>"><%= t('order.form.estimate_cpm') %></span>&nbsp;&nbsp;<span id="ad_<%=index%>_cpm_prediction" class="<%= cpc_show %>"><%= (ad.offer.nil? || ad.cpm_prediction.nil?) && ad.before_other_ctr? ? "" : number_with_precision(ad.cpm_prediction, :precision => 2) %></span>
                </span>
                <span class="r_padding_10">
                  <span id="ad_<%=index%>_click_text" class="<%= cpm_show %>"><%= t('order.form.estimate_clicks') %></span>&nbsp;&nbsp;<span id="ad_<%=index%>_clicks_prediction" class="<%= cpm_show %>"><%= ad.clicks_prediction.nil? ? "" : number_with_precision(ad.clicks_prediction, :precision => 0, :delimiter => ",") %></span>
                  <span id="ad_<%=index%>_impression_text" class="<%= cpc_show %>"><%= t('order.form.estimate_imp') %></span>&nbsp;&nbsp;<span id="ad_<%=index%>_impressions_prediction" class="<%= cpc_show %>" ><%= ad.impressions_prediction.nil? ? "" : number_with_precision(ad.impressions_prediction, :precision => 0, :delimiter => ",") %></span>
                </span>
             </span>
           </label>
         </div>
        </div>

        <!-- 折扣 -->
        <div class="row t_margin_10 <%= ad.special_ad? ? 'hide' : '' %> "  id="ad_<%=index%>_other_type_discount" >
          <div class='item_four'>
            <div class="span2">
              <label class='sub_txt2'><%= t('order.form.discount') %></label>
            </div>
            <div class="span">
              <div class="input-append">
                <% discount_show = ad.discount != 100 ? ad.discount.to_f : "" %>
                <%= text_field "ad_#{index}", :discount, :value=> "",:disname=>"折扣", :class=>"number novalidate",:style=>"width:344px; display:none;",:dis_wiget => "#ad_#{index}_discount_dis_input", :name => "ad_#{index}[discount]", :value => number_with_precision(discount_show, :precision => 2) %>
                <input type="text" id="ad_<%=index%>_discount_dis_input" style="width:344px;" class='align_right numeric adv_discount' value="<%= number_with_precision(discount_show, :precision => 2) %>" name='discount' />

                 <span class="add-on">%</span>
              </div>
            </div>
          </div>
        </div>
        
        <!-- 策划配送点击量-->
        <div class="row t_margin_10 planner_click <%= (ad.planner_clicks.present? && ad.planner_clicks.to_i != 0) ? '' : 'hide' %>">
          <div class='item_four'>
            <div class="span2">
              <label class='sub_txt2'><%= t('order.form.delivery_clicks') %></label>
            </div>
            <% ad_planner_clicks_show = ad.planner_clicks.present? ? ad.planner_clicks : "" %>
            <div class="span">
              <%= text_field "ad_#{index}", :planner_clicks, :value=> "",:disname=>"点击量", :class=>"number novalidate adv_planner_clicks_input",:style=>"width:371px; display:none;",:dis_wiget => "#ad_#{index}_clicks_dis_input", :name => "ad_#{index}[planner_clicks]", :value => number_with_precision(ad_planner_clicks_show , :precision => 2) %>
                <input type="text" id="ad_<%=index%>_clicks_dis_input" style="width:371px;" class='align_right numeric adv_planner_clicks' value="<%= number_with_precision(ad.planner_clicks, :precision => 0) %>" name='discount' disabled=true />
            </div>
          </div>
        </div>
        
        <!-- 策划调整CTR-->
        <div class="row t_margin_10 planner_ctr <%= (ad.diff_ctr? || ad.special_ad? ) ? '' : 'hide' %>" id="ad_<%=index%>_other_type_planctr" >
          <div class='item_four'>
            <div class="span2">
              <label class='sub_txt2'><%= t('order.form.estimate_ctr')  %></label>
            </div>
            <% ad_planner_ctr_show = ad.id ? (ad.diff_ctr? ? ad.planner_ctr : ad.forecast_ctr) : 0 %>
            <div class="span">
              <div class="input-append">
                <%= text_field "ad_#{index}", :planner_ctr, :value=> "",:disname=>"预估ctr", :class=>"number novalidate adv_planner_ctr_input",:style=>"width:344px; display:none;",:dis_wiget => "#ad_#{index}_planner_ctr_dis_input", :name => "ad_#{index}[planner_ctr]", :value => number_with_precision(ad.planner_ctr, :precision => 2) %>
                <input type="text" id="ad_<%=index%>_planner_ctr_dis_input" style="width:344px;" class='align_right numeric adv_planner_ctr' value="<%= number_with_precision(ad_planner_ctr_show , :precision => 2) %>" name='planner_ctr'  />
                 <span class="add-on">%</span>
              </div>
            </div>
            
            <div class="span l_padding_10">
              <% if ad.planner_ctr.present? && !ad.special_ad? %><span style='padding-right: 5px;'><img src='/images/icon_exclamation.png'/></span>预估CTR做了调整<% end %>
            </div>
            
          </div>
        </div>
       
        <div class="row t_margin_10 <%=ad.planner_ctr.present? ? '' : 'hide' %>" id="ad_<%=index%>_planner_ctr_notice">
          <div class="span yellow_mark" style="margin-left: 120px"><%= t('order.form.ctr_remark') %></div>
        </div>

        <div class="row t_margin_10 abount_admeasure <%= (self.action_name == "edit" || self.action_name == "update" || ad.admeasure_state.present?  || ad.new_record?) ? '' : 'hide' %> ">
          <div class='item_four'>
            <div class="span2">
              <label class='sub_txt2 t_margin_10'><%= t('order.form.geo_budget_allocations') %></label>
            </div>
            <div class="span r_padding_15">
              <label class="checkbox">
                <%= check_box_tag "ad_#{index}[admeasure_state]","1",checked = ( ((!ad.new_record? && ad.admeasure_state) || ad.admeasure_state.present?) ? true : false ) , :id=> "ad_#{index}_admeasure_state" ,:class => "admeasure_state"%>
              </label>
            </div>
          </div>
        </div>


        <div class="row t_margin_10 abount_admeasure <%= ad.admeasure_state.present?  ? '' : 'hide' %> " id ="<%= "ad_#{index}_my_admeasure" %>">
          <div class='item_four'>
            <div class="span2 " style="vertical-align: top;">
              <label class='sub_txt2'>  </label>
            </div>
            <div class="span9">

              <div class="row">
            <div  >
            <table class="table table-striped table-bordered table-condensed  search_table dataTabl admeasure_list" cellpadding="0" cellspacing="0" border="0" class="display" id="<%= "ad_#{index}_admeasure_list" %>">
                <thead>
                  <tr>
                    <th class="align_left align_top"><%= t('order.form.geo_column') %></th>
                    <th class="align_left align_top"><%= t('order.form.impressions_column') %></th>
                    <th class="align_left align_top"><%= t('order.form.budget_column') %></th>
                    <th class="align_left align_top"><%= t('order.form.budget_allocations_column') %></th>
                  </tr>
                </thead>
                <tbody id="<%= "ad_#{index}_table_admeasure" %>" class="table_admeasure">
                    <%=  render :partial => 'admeasure', :locals => {:ad =>ad,:index =>index}%>
                </tbody>
                <tr class="<%= ad.admeasure_miss_100? ? "hide" : "" %>" id="ad_<%=index%>_admeasure_mise_100"><td colspan = "4" class ="align_right" ><span style="color:#F81E08"><%= t('order.form.budget_allocations_description') %></span></td></tr>
            </table>
            </div>
            </div>
            </div>
          </div>
        </div>

        
        <!-- 价格说明 -->
        <div class="row t_margin_10">
          <div class='item_four'>
            <div class="span2" style="vertical-align: top;">
              <label class='sub_txt2'><%= t('order.form.price_description') %></label>
            </div>
            <div class="span">
              <%= text_area "ad_#{index}", :price_presentation, :placeholder=>t('order.form.price_description_content'), :rows =>"6",:class=>"span5 adv_price_presentation", :name => "ad_#{index}[price_presentation]", :value=>ad.price_presentation %>
            </div>
          </div>
        </div>


        <!-- 非标准KPI -->
        <div class="row t_margin_10">
          <div class='item_four'>
            <div class="span2 " style="vertical-align: top;">
              <label class='sub_txt2'><%= t('order.form.unnormal_kpi') %></label>
            </div>
            <div class="span">
              <%= text_area "ad_#{index}", :nonstandard_kpi,:placeholder=>t('order.form.unnormal_kpi_content'), :rows =>"6",:class=>"span5 adv_nonstandard_kpi", :name => "ad_#{index}[nonstandard_kpi]", :value => ad.nonstandard_kpi %>
            </div>
         </div>
       </div>

        <div class="row t_margin_10 ">
          <div class='item_four'>
            <div class="span2 " style="vertical-align: top;">
              <label class='sub_txt2'>  </label>
            </div>
            <div class="span9 yellow_mark">
              <%= t('order.form.remark_attention') %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
</script>
