<%= javascript_include_tag "underscore-min.js" %>

<script type="text/javascript">
    $.fn.extend({
        numeric: function (options) {
            var jq_dis = $(options['dis']);
            var that = this;
            jq_dis.val(format_to_numeric($(this).val()));
            $(["focus", "blur"]).each(function (i, ele) {
                jq_dis.bind(ele, function () {
                    $(this).val(format_to_numeric(jq_dis.val()));
                    $(that).val(format_to_machine_number(jq_dis.val()));
                    $(that).trigger(ele);
                })
            })
        }
    });


    function format_to_numeric(str) {
        str = format_to_machine_number(str);
        if (/^-?\d+(?:\.\d+)?/.test(str)) {
            digitalGroup = /(\d)((\d{3}?)+)$/;
            var zhengshu = Math.floor(parseFloat(str)) + '';
            var xiaoshu = Math.floor(Math.round(parseFloat(str) * 100) % 100) + '';
            while (digitalGroup.test(zhengshu)) {
                zhengshu = zhengshu.replace(digitalGroup, '$1' + "," + '$2');
            }
            ;
            if (parseInt(xiaoshu) < 10) {
                xiaoshu = '0' + xiaoshu
            }
            ;
            str = zhengshu + "." + xiaoshu;

            while (digitalGroup.test(str)) {
                str = str.replace(digitalGroup, '$1' + "," + '$2');
            }
            ;
            if (/\.\d$/.test(str)) {
                str += '0';
            } else if (/^[^\.]+$/.test(str)) {
                str += '.00';
            }
        }
        return str;
    }

    function format_to_number(str) {
        str = format_to_machine_number(str);
        if (/^-?\d+(?:\.\d+)?/.test(str)) {
            digitalGroup = /(\d)((\d{3}?)+)$/;
            var zhengshu = Math.floor(parseFloat(str)) + '';
            while (digitalGroup.test(zhengshu)) {
                zhengshu = zhengshu.replace(digitalGroup, '$1' + "," + '$2');
            }
            ;
            while (digitalGroup.test(str)) {
                str = str.replace(digitalGroup, '$1' + "," + '$2');
            }
            ;
        }
        return str;
    }


    function format_to_machine_number(str) {
        str += '';
        str = str.replace(/[^\d\.\,\-]/g, "");
        if (/^-?(?:\d+|\d{1,3}(?:,\d{3})*)(?:\.\d+)?/.test(str)) {
            str = str.replace(/,/g, "").replace(/^0+/g, "0").replace(/^0(\d)/g, "$1");
            str = Math.round(parseFloat(str) * 100) / 100 + "";
            return str;
        } else {
            return str
        }
    }
    $().ready(function () {
        if (($("#order_new_regions").val() != null && $("#order_new_regions").val() != "") && JSON.parse($("#order_new_regions").val())[0].country == "china") {
            one_change_admeasure();
        }
    })

    $(document).on('change', '.advertisement_ad_type', function () {
        ad_type_change();
    })

    $(document).on('change', '.advertisement_product_id', function () {
        product_id_change();
    })

    $(document).on('change', '.admeasure_state', function () {
        admeasure_state_change();
    })

    $(document).on('change', '.ad_cost_type', function () {
        check_type_message();
    })

    $(document).on('blur', '.advertisement_cost', function () {
        $(this).val(format_to_numeric($(this).val()));
        $("#advertisement_cost").val(format_to_machine_number($(this).val()));
        check_type_message();

    })


    $(document).on('blur', '.advertisement_planner_clicks', function () {
        var current_index = $(this).attr('id').replace(/[^\d.]/g, '');
        //$(this).val(format_to_numeric($(this).val()));
        $("#advertisement_planner_clicks").val($(this).val());
        check_type_message();
    })

    $(document).on('blur', '.advertisement_planner_ctr', function () {
        $(this).val(format_to_numeric($(this).val()));
        $("#advertisement_planner_ctr").val($(this).val());
        $("#ad_planner_ctr_notice").show();
        check_type_message();
    })

    $(document).on('blur', '.advertisement_discount', function () {
        $(this).val(format_to_numeric($(this).val()));
        $("#advertisement_discount").val(format_to_machine_number($(this).val()));
        // $(ad_index + "_discount").numeric({dis:ad_index + "_discount_dis_input"});
        check_type_message();
    })

    $(document).on('blur', '.advertisement_budget_ratio', function () {
        $(this).val(format_to_numeric($(this).val()));
        $("#advertisement_budget_ratio").val(format_to_machine_number($(this).val()));
        check_sum_budget_ratio(format_to_machine_number($(this).val()));
        // $(ad_index + "_budget_ratio").numeric({dis:ad_index + "_budget_ratio_dis_input"});
        check_type_message();
    })


    function hide_cpc_pre() {
        var ad_type = $("#advertisement_ad_type").val();
        if (ad_type == "OTHERTYPE") {
            $("#ad_cpc_pre_text").hide();
            $("#ad_cpc_prediction").hide();
        } else {
            $("#ad_cpc_pre_text").show();
            $("#ad_cpc_prediction").show();
        }
    }

    function set_discount_val() {
//  var ad_index = "#ad_" + i;
        var cost = $("#cost_dis_input").val();
        var public_price = $("#ad_public_price").text();
        if (cost != "" && public_price != "") {
            discount = (parseFloat(cost) / parseFloat(public_price)) * 100
            $("#discount_dis_input").val(format_to_numeric(discount));
            $("#advertisement_discount").val(format_to_machine_number(discount));
            $("#discount_dis_input").attr('disabled', true);
//    $("#advertisement_discount").attr('disabled', true);
        } else {
            $("#discount_dis_input").attr('disabled', false);
            $("#advertisement_discount").attr('disabled', false);
        }
    }

    function check_sum_budget_ratio(current_input_ratio) {
        var current_ad_budget_raito = $("#current_budget_ratio").val();
        var total_budget = <%= @order.budget.present? ? @order.budget : 0 %>;
        if (current_input_ratio == "") {
            current_input_ratio = 0;
        }
        sum = 0;
        $.each($("tbody #budget_ratio_ad", window.parent.parent.document), function (index, value) {
            sum += parseFloat($(this).val());
        });
        sum = sum - parseFloat(current_ad_budget_raito) + parseFloat(current_input_ratio);

        if (sum > total_budget) {
            var ad_id = '<%= @advertisement.id || 0%>';
            var budget = _.reduce($("tbody [name=budget_ratio_ad]:not([ad_id=" + ad_id + "])", window.parent.parent.document), function (res, ele) {
                return res += parseFloat($(ele).val());
            }, 0);
            $('#budget_ratio_dis_input').val(format_to_numeric(total_budget - budget)).trigger('blur');
            $(".ratio_error").html("<%= t("order.form.budget_allocations_description1")%>");
        } else if (sum < total_budget) {
            $(".ratio_error").html("<%= t("order.form.budget_allocations_description2")%>");
        } else {
            $(".ratio_error").html('');
        }
    }


    $(document).on('change', '.admeasure_value', function () {
        one_change_admeasure();
    })

    function one_change_admeasure() {

        var budget = $("#order_budget").val();

        var myarray = $("#order_myarray_city").val();
//     console.log("my:"+myarray);
        if (myarray.length > 0) {
            myarray = myarray.split(",")

            var budget_ratio = $("#advertisement_budget_ratio").val();
            var budget_currency = $('#currency_unit').text();
            var all_budget = budget_ratio
            var cpc = parseInt($("#ad_impressions_prediction").text().replace(/,/g, ""));
            var cpm = parseInt($("#ad_show_cpm_prediction").text().replace(/,/g, ""));
            var cost_type = $("#advertisement_cost_type").val();

            if (cost_type == "CPM") {
                var all_impression = cpm
            } else {
                var all_impression = cpc
            }

            var admeasure_html = "";
            var total_budget = 0;
            var total_planner_budget = 0;
            var total_impression = 0;
            var current_budget = 0;

            for (a = 0; a < myarray.length; a++) {
                var current_planner_budget = $("#ad_myplanner_" + a).val();
                if (current_planner_budget) {
                    //var current_budget = (all_budget*current_planner_budget/100).toFixed(2);
                    var current_budget = current_planner_budget
                    var current_impression = Math.round(format_to_machine_number(all_impression) * (format_to_machine_number(current_planner_budget) / all_budget));
                    console.log("==========current_impression", current_impression)
                    total_impression += parseInt(current_impression);
                    total_budget += parseFloat(format_to_machine_number(current_budget));
                    //console.log("=======total_budget",total_budget)
                    total_planner_budget += parseFloat(format_to_machine_number(current_planner_budget));
                } else {
                    var current_planner_budget = "";
                    var current_budget = 0;
                    var current_impression = 0;
                }


                admeasure_html = admeasure_html.concat("<tr><td>" + myarray[a] + "</td><td><span id ='ad_impression_" + a + "'>" + format_to_numeric(current_impression).replace(".00", "") + "</span></td><td>" +
                        "<input style='height:24px;' class='admeasure_show admeasure_first admeasure_value content number  valid ' type='text' value='" + format_to_numeric(current_planner_budget) + "' placeholder='0'  alt='area_list' name='ad[myplanner][]' id='ad_myplanner_" + a + "' />"
                        + "<input type='hidden' class='admeasure_show' name='ad[mycity][]' id='ad_city_" + a + "' value=" + myarray[a].replace(/\s+/g, '') + ">"
                        + "</td></tr>")
            }
            admeasure_html = admeasure_html.concat("<tr><td><%= t("order.form.all")%></td><td><span id ='ad_all_impression'>" + format_to_numeric(total_impression).replace(".00", "") + "</span></td><td>" +
                    "<input style='height:24px;' class='admeasure_show admeasure_first content number  valid' type='text' value='" + format_to_numeric(total_planner_budget) + "' placeholder='0' readonly='readonly'  alt='area_list' name='ad[all_myplanner]' id='ad_all_myplanner' />"
                    + "<input type='hidden' class='admeasure_show' name='ad[all_mycity]' id='ad_all_city' value='<%= t("order.form.all")%>'>"
                    + "</td></tr>")
            $("#ad_table_admeasure").html(admeasure_html);
//         reset_iframe_height();

            if (total_planner_budget == all_budget) {
                $("#ad_admeasure_mise_100").hide();
            } else {
                if (all_budget != '') {
                    $("#ad_admeasure_mise_100").show();
                    $('#budget_region_tip').text('<%= t('order.form.budget_allocations_description')%>' + budget_currency + ' ' + format_to_numeric(all_budget));
                }
            }

        } else {
            $(".table_admeasure").html("");
//         reset_iframe_height();

        }

    }


    function admeasure_state_change() {
//  var ad_index = "#ad_" + i;
        if ($("#ad_admeasure_state").is(':checked')) {
            $("#ad_my_admeasure").show();
        } else {
            $("#ad_my_admeasure").hide();
        }
//    reset_iframe_height();
    }


    function product_id_change() {
//  var ad_index = "#ad_" + i;
        var current_product_id = $("#advertisement_product_id").val();
        if (current_product_id > 0) {
            $.ajax({
                type: 'get',
                data: {product_id: current_product_id},
                url: "<%= check_ad_product_orders_path %>",
                success: function (data) {
                    $("#advertisement_cost_type option").remove();
                    options = "<option value=" + data["cost_type"] + " selected = 'selected' >" + data["cost_type"] + "</option>";
                    $("#advertisement_cost_type").append(options);
                    check_type_message();
                },
                error: function (data) {
                }
            });
        }
    }


    function ad_type_change() {
//  var ad_index = "#ad_" + i;
        var current_ad_type = $("#advertisement_ad_type").val();

        if (current_ad_type == "OTHERTYPE") {
            $("#ad_orter_type_notice").show();
            $("#ad_cpc_pre_text").hide();
            $("#ad_cpc_prediction").hide();
        } else {
            $("#ad_orter_type_notice").hide();
            $("#ad_cpc_pre_text").show();
            $("#ad_cpc_prediction").show();
        }

        if (current_ad_type == "OTHERTYPE") {
            $("#ad_other_type_price").hide();
            $("#ad_other_type_ctr").hide();
            $("#ad_other_type_planctr").show();
            $("#ad_other_type_discount").hide();
            $("#ad_product_id_tag").hide();
            $(".ad_cost_type option").remove();
            options = "<option value=" + "CPM" + " selected = 'selected' >" + "CPM" + "</option>";
            options += "<option value=" + "CPC" + " selected = 'selected' >" + "CPC" + "</option>";
            options += "<option value=" + "CPE" + " selected = 'selected' >" + "CPE" + "</option>";
            $(".ad_cost_type").append(options);
//      reset_iframe_height();

        } else {
            $("#ad_other_type_price").show();
            $("#ad_other_type_ctr").show();
            $("#ad_other_type_planctr").hide();
            $("#ad_other_type_discount").show();
            $("#ad_product_id_tag").show();

            <% unless all_ad_types == [] %>
            if (current_ad_type == "") {
                $("#advertisement_product_id option").remove();
                options = "<option value" + ">" + "请选择" + "</option>";
                $("#advertisement_product_id").append(options);
            } else {
                var all_product_ids = <%= raw @all_ad_types %>;

                current_product_type = $.grep(all_product_ids, function (n, i) {
                    return n[0] == current_ad_type
                });

                $("#advertisement_product_id option").remove();

                product_types = $.isArray(current_product_type[0][1]) ? current_product_type[0][1] : current_product_type[0][1].split(",");

                options = ''
                product_types = _.sortBy(product_types, function (n) {
                    return n[0].trim()
                });
                $.each(product_types, function (index, product_type) {
                    if (index == 0) {
                        options += "<option value=" + product_type[1] + "  selected = 'selected' >" + product_type[0] + "</option>";
                    } else {
                        options += "<option value=" + product_type[1] + ">" + product_type[0] + "</option>";
                    }
                })
                $("#advertisement_product_id").append(options);
            }
            if (current_ad_type != "OTHERTYPE") {
                product_id_change()
            }
            <% end %>
        }
        ;

    }


    function check_type_message() {
        if ($("#advertisement_product_id").val() || ($("#advertisement_ad_type").val() == "OTHERTYPE" )) {
            // def check_special for special dont need check status

            var check_special = (($("#advertisement_ad_type").val() == "OTHERTYPE" ) && $("#advertisement_planner_ctr").val() == "" )
            if (!check_special && $("#order_budget").val() != "" && $("#cost_dis_input").val() != "" && $("#advertisement_budget_ratio").val() != "") {
                $.ajax({
                    url: "<%= check_type_message_orders_path %>",
                    type: "POST",
                    data: {
                        order_budget: $("#order_budget").val(),
                        budget_ratio: $("#advertisement_budget_ratio").val(),
                        product_id: $("#advertisement_product_id").val(),
                        city_size: $("#order_myarray_city").val().length,
                        ad_type: $("#advertisement_ad_type").val(),
                        order_regional: $("#order_regional").val(),
                        cost_type: $("#advertisement_cost_type").val(),
                        cost: $("#cost_dis_input").val(),
                        discount: $("#discount_dis_input").val(),
                        planner_clicks: $("#advertisement_planner_clicks").val(),
                        planner_ctr: $("#advertisement_planner_ctr").val(),
                        order_budget_currency: $("#order_budget_currency").val()
                    },
                    success: function (data) {
                        $("#ad_ctr_prediction").text(format_to_numeric(data["ctr_prediction"]) + "%");
                        $("#ad_cpm_prediction").text(format_to_numeric(data["cpm_prediction"]));
                        $("#ad_cpc_prediction").text(format_to_numeric(data["cpc_prediction"]));
                        $("#ad_clicks_prediction").text(format_to_numeric(data["clicks_prediction"]).slice(0, -3));
                        $("#ad_show_cpc_prediction").text(format_to_numeric(data["clicks_prediction"]).slice(0, -3));
                        $("#ad_impressions_prediction").text(format_to_numeric(data["impressions_prediction"]).slice(0, -3))
                        $("#ad_show_cpm_prediction").text(format_to_numeric(data["impressions_prediction"]).slice(0, -3))
                        $("#ad_cpe_times").text(format_to_numeric(data["cpe_times"]).slice(0, -3))
                        $("#ad_general_price").text(format_to_numeric(data["general_price"]));
                        $("#ad_public_price").text(format_to_numeric(data["public_price"]));
                        if (!($("#advertisement_ad_type").val() == "OTHERTYPE" )) discount_cost_msg(data["cost_can"]);
                        set_discount_val();
                        if (($("#order_new_regions").val() != null && $("#order_new_regions").val() != "") && JSON.parse($("#order_new_regions").val())[0].country == "china") {
                            one_change_admeasure();
                            // $(".abount_admeasure").show();
                            // if ( !$(ad_index+"_admeasure_state").is(':checked') ){ $(ad_index+"_my_admeasure").hide(); };
                        } else {
                            $(".abount_admeasure").hide();
                            $("#ad_admeasure_state").removeAttr("checked");
                        }
                    }
                })
            } else {
                //&& $("#order_regional").val() != "EMPTY" $("#order_regional").val() != "SPECIAL_COUNTRY" &&
                if ($("#advertisement_ad_type").val() != "OTHERTYPE") {
                    $.ajax({
                        url: "<%= check_type_message_orders_path %>",
                        type: "POST",
                        data: {
                            order_budget: $("#order_budget").val(),
                            product_id: $("#advertisement_product_id").val(),
                            budget_ratio: $("#advertisement_budget_ratio").val(),
                            city_size: $("#order_myarray_city").val().length,
                            ad_type: $("#advertisement_ad_type").val(),
                            order_regional: $("#order_regional").val(),
                            cost_type: $("#advertisement_cost_type").val(),
                            cost: $("#cost_dis_input").val(),
                            discount: $("#discount_dis_input").val(),
                            planner_clicks: $("#advertisement_planner_clicks").val(),
                            planner_ctr: $("#advertisement_planner_ctr").val(),
                            order_budget_currency: $("#order_budget_currency").val()
                        },
                        success: function (data) {
                            $("#ad_general_price").text(format_to_numeric(data["general_price"]));
                            $("#ad_public_price").text(format_to_numeric(data["public_price"]));
                            set_discount_val();
                        }
                    })
                } else {

                    $("#advertisement_cost_type option").remove();
                    options = ""
                    options += "<option value='CPM'> CPM </option>";
                    options += "<option value='CPC'> CPC </option>";
                    options += "<option value='CPE'> CPE </option>";
                    $("#advertisement_cost_type").append(options);

                    $("#ad_general_price").text("");
                    $("#ad_public_price").text("");
                    $("#discount_dis_input").val("");
                    $("#advertisement_discount").val("");
                }
                text_clear = ["ctr_prediction", "cpm_prediction", "cpc_prediction", "clicks_prediction", "show_cpc_prediction", "impressions_prediction", "show_cpm_prediction"]
                $.each(text_clear, function (index, value) {
                    $("#ad_" + value).text("");
                });
                $("#ad_check_cost").html("");
                if (($("#order_new_regions").val() != null && $("#order_new_regions").val() != "") && JSON.parse($("#order_new_regions").val())[0].country == "china") {
                    one_change_admeasure();
                    // $(".abount_admeasure").show();
                    // if ( !$(ad_index+"_admeasure_state").is(':checked') ){ $(ad_index+"_my_admeasure").hide(); };
                } else {
                    $(".abount_admeasure").hide();
                    $("#ad_admeasure_state").removeAttr("checked");
                    ;
                }
            }

        }

        show_cost_type();
    }


    function show_cost_type() {
//  var ad_index = "#ad_" + i;
        cost_type = $("#advertisement_cost_type").val();
        cpc_divs = ["cpc_prediction", "show_cpm_prediction", "clicks_prediction", "cpm_text", "cpc_pre_text", "click_text"]
        cpm_divs = ["cpm_prediction", "show_cpc_prediction", "impressions_prediction", "cpc_text", "cpm_pre_text", "impression_text"]
        if (cost_type == "CPM") {
            $("#ad_cpc_and_cpm").show();
            $("#ad_cpe_show").hide();
            $.each(cpc_divs, function (index, value) {
                $("#ad_" + value).show();
            });
            $.each(cpm_divs, function (index, value) {
                $("#ad_" + value).hide();
            });
        } else if (cost_type == "CPC") {
            $("#ad_cpc_and_cpm").show();
            $("#ad_cpe_show").hide();
            $.each(cpc_divs, function (index, value) {
                $("#ad_" + value).hide();
            });
            $.each(cpm_divs, function (index, value) {
                $("#ad_" + value).show();
            });
        } else if (cost_type == "CPE") {
            $("#ad_cpe_show").show();
            $("#ad_cpc_and_cpm").hide();
        }
        hide_cpc_pre();
    }

    function discount_cost_msg(flag) {
//  var ad_index = "#ad_" + i;
        if ($("#advertisement_ad_type").val() != "OTHERTYPE") {
            if (flag) {
                $("#ad_check_cost").html("<img src='/images/icon_tick.png'/>");
            } else {
                $("#ad_check_cost").html("<span style='padding-right: 5px;'><img src='/images/icon_cross.png'/></span>" + "<%= t('order.form.price_description_content')%>");
            }
        }
    }


    // advertisment js end


    function check_cost() {
        $.ajax({
            type: "GET",
            url: "/<%= I18n.locale.to_s%>/orders/check_cost?send_city=" + $('#send_city').val() + "&cost=" + $('#order_cost').val(),
            dataType: "text",
            success: function (msg) {
                $("#city_change").empty();
                $("#city_change").append(msg);
            },
            error: function (msg) {
            }
        });
    }


    //    $("#chosen_multiple_country").chosen();
    //    $("#chosen_multiple_country_special").chosen();
    //右边触发js
    $('.selection_trigger').click(function () {
        var target = $(this).attr('data-target') + '_chzn';
        $(target).mousedown();
        return false;
    })


    $('.selection_trigger').click(function () {
        var target = $(this).attr('data-target') + '_chzn';
        $(target).mousedown();
        return false;
    });


    function reset_iframe_height() {
        var ifram_obj = $(".layui-layer-content iframe", window.parent.parent.document);
        $(".layui-layer-content iframe", window.parent.parent.document).removeAttr("style");

        var height_new = ifram_obj.contents().height();

        //        var height_new = document.body.scrollHeight - 50
        $(".layui-layer-content iframe", window.parent.parent.document).attr("style", "height:" + (height_new - 10) + "px;");

    }
</script>

