<!-- order delete and copy -->

<div class="row t_margin_20">
  <div class='item_four'>
    <div class="span2 " style="vertical-align: top;width: 145px;">
      <label class=''><%= t('order.form.action_link') %></label>
    </div>
    <div class="span underlined" style="<%= (@order.proceed_delete? || current_user.administrator?) ? 'width:280px;' : 'width:140px;' %>">
      <% if @order.proceed_delete? || current_user.administrator? %>
          <span><a href="javascript:void(0)" id="delete"><%= t('order.form.deltete_order') %></a></span> <%= t('order.form.or_label') %>
      <% end %>
      <span><a href="javascript:void(0)" id="copy"><%= t('order.form.copy_order') %></a></span>
    </div>
    <div class="outer_other span" style="display:none;" id="copy_and_delete_div">
      <% if @order.proceed_delete? || current_user.administrator? %>
          <input id="delete_button" value="<%= t('order.form.delete_button') %>" type="button" style="display:none;">
      <% end %>
      <input id="copy_button" value="<%= t('order.form.copy_button') %>" type="button" style="display:none;">
    </div>
  </div>
</div>

<script type="text/javascript">
    $("#delete").click(function () {
        $("#copy_and_delete_div").show();
        $("#delete_button").show();
        $("#copy_button").hide();
    })

    $("#copy").click(function () {
        $("#copy_and_delete_div").show();
        $("#delete_button").hide();
        $("#copy_button").show();
    })

    $("#delete_button").click(function () {
        var order_id = <%= @order.id %>;
        var data_cannot_edit = Order.data_cannot_edit(order_id);
        if (data_cannot_edit && <%= @order.state != "examine_completed" %>) {
            $(".notice ").hide();
            $('#order_detail_error').addClass('error');
            $('#order_detail_error').text("<%=t('order.form.order_under_examination3')%>")
            $("#order_detail_error").show();
        } else {
            $('#order_detail_error').removeClass('error');
            $('#order_detail_error').text("");
            $("#order_detail_error").hide();
            window.document.location.href = "<%= proceed_deleted_at_order_path(:id=> @order.id || 'test') %>"
        }
    })

    $("#copy_button").click(function () {
        window.document.location.href = "<%= clone_order_path(:id=>@order.id || 'test') %>"
    })
</script>