<div style="margin-left:-20px;margin-top:-50px;position: absolute;">
  <table>
    <tr>
      <td><%= image_tag "circle_icon/icon01_grey.png" %></td>
      <td><span> <%= t('order.list.unsubmit') %></span></td>
      <td><%= image_tag "circle_icon/icon07_darkblue.png", :class => "icon_image_margin" %></td>
      <td><span> <%= t('order.list.unapproved') %></span></td>
      <td><%= image_tag "circle_icon/icon05_green.png", :class => "icon_image_margin" %></td>
      <td><span><%= t('order.list.approved') %></span></td>
      <td><%= image_tag "circle_icon/icon02_red.png", :class => "icon_image_margin" %></td>
      <td><span><%= t('order.list.rejected') %></span></td>
      <td><%= image_tag "circle_icon/icon_black.png", :class => "icon_image_margin" %></td>
      <td><span> <%= t('order.list.unsupport') %></span></td>
    </tr>
  </table>
</div>
