<div style="margin-left:-20px;margin-top:-50px;position: absolute;">
<table>
<tr>
  <td><img src = '/images/assets/icon01_grey.png'/></td><td><span> <%= t('order.list.unsubmit') %></span></td>
  <td><img src = '/images/assets/icon07_darkblue.png' class="icon_image_margin"/></td><td><span> <%=t('order.list.unapproved')  %></span></td>
  <td><img src = '/images/assets/icon05_green.png' class="icon_image_margin"/></td><td><span><%= t('order.list.approved') %></span></td>
  <td><img src = '/images/assets/icon02_red.png' class="icon_image_margin"/> </td><td><span><%=t('order.list.rejected')  %></span></td>
  <td><img src = '/images/assets/icon_black.png' class="icon_image_margin"/></td><td><span> <%= t('order.list.unsupport') %></span></td>
</tr>
</table>
</div>
