

<div class="container">
  <div class="control-group t_margin_30">
    <div class="sub_title" data-target="#setting_sync_attributes" data-toggle="collapse">
      <u>同步到SAP</u>
      <i class="icon-arrow-right"></i>
    </div>
  </div>

  <div id="setting_sync_attributes" class="collapse out">
    <!--start-->
    <!-- <form class="form-horizontal" id="pv_form_list"> -->


        <div class="control-group">
          <% if action_name == "new" || action_name == "create"%>
            <%= hidden_field_tag "sync_flag" %>
          <% end %>
          <div class="controls filter_con" >
            <div class="row b_margin_5">
              <div class="span">
                <label class="sub_txt2">
                  <span>请选择SAP对应订单:</span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="item_two">
                <div class="span">
                  <select  tabindex="-1" id="sap_order" name="sap_order" class="chzn-select span5 client_sync" data-placeholder="新增订单">
                    <optgroup label="请选择SAP对应订单">
                      <%= option_for_sap_order(send_sycn_attribute_values('order','sap_order'),action_name) %>
                    </optgroup>
                  </select>
                </div>
                <div class="span">
                  <a class="selection_icon selection_trigger" data-target="#sap_order" href="javascript:void(0);"></a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="item_two">
                <div class="row">
                  <label class="sub_txt2">
                    <span>分销渠道:</span>
                  </label>
                </div>
                <div class="span">

                  <select tabindex="-1" id="sale_channel" name="sale_channel" class="chzn-select span5 " data-placeholder="请选择">
                    <optgroup label="分销渠道">
                      <%= option_for_sale_channel(send_sycn_attribute_values('order','sale_channel')) %>

                    </optgroup>
                  </select>
                </div>
                <div class="span">
                  <a class="selection_icon selection_trigger" data-target="#sale_channel" href="javascript:void(0);"></a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="item_two">
                <div class="row">
                  <label class="sub_txt2">
                    <span>客户营业执照名称:</span>
                  </label>
                </div>
                <div >
                  <input type="text" id="client_business_licence_name" name="client_business_licence_name" value="<%=send_sycn_attribute_values('order','client_business_licence_name')%>" placeholder="请填写客户营业执照名称" style="width: 370px">   </input>
                </div>

              </div>
            </div>


            <div class="row">
              <div class="item_two">
                <div class="row">
                  <label class="sub_txt2">
                    <span>付款条件:</span>
                  </label>
                </div>
                <div class="span">
                  <select tabindex="-1" id="pay_condition" name="pay_condition" value="2" class="chzn-select span5" data-placeholder="请选择">
                    <optgroup label="付款条件">
                      <%= option_for_pay_condition(send_sycn_attribute_values('order','pay_condition')) %>
                    </optgroup>
                  </select>
                </div>
                <div class="span">
                  <a class="selection_icon selection_trigger"  data-target="#pay_condition" href="javascript:void(0);"></a>
                </div>
              </div>
              </div>

            <div class="row">
              <div class="item_two">
                <div class="row">
                  <label class="sub_txt2">
                    <span>公司编号:</span>
                  </label>
                </div>
                <div class="span">
                  <select tabindex="-1" id="organize_number" name="organize_number" class="chzn-select span5" data-placeholder="请选择">
                    <optgroup label="公司编号">
                      <%= option_for_company_number(send_sycn_attribute_values('order','organize_number')) %>
                    </optgroup>
                  </select>
                </div>
                <div class="span">
                  <a class="selection_icon selection_trigger" data-target="#organize_number" href="javascript:void(0);"></a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="item_two">
                <div class="row">
                  <label class="sub_txt2">
                    <span>销售单位:</span>
                  </label>
                </div>
                <div class="span">
                  <select tabindex="-1" id="sale_unit" name="sale_unit" class="chzn-select span5" data-placeholder="请选择">
                    <optgroup label="销售单位">
                      <%= option_for_sale_unit(send_sycn_attribute_values('order','sale_unit')) %>
                    </optgroup>
                  </select>
                </div>
                <div class="span">
                  <a class="selection_icon selection_trigger" data-target="#sale_unit" href="javascript:void(0);"></a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="item_two">
                <div class="row">
                  <label class="sub_txt2">
                    <span>客户发票类型:</span>
                  </label>
                </div>
                <div class="span">
                  <select tabindex="-1" id="client_invoice_type" name="client_invoice_type" class="chzn-select span5" data-placeholder="请选择">
                    <optgroup label="客户发票类型">
                      <%= option_for_client_invoice_type(send_sycn_attribute_values('order','client_invoice_type')) %>
                    </optgroup>
                  </select>
                </div>
                <div class="span">
                  <a class="selection_icon selection_trigger" data-target="#client_invoice_type" href="javascript:void(0);"></a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="item_two">
                <div class="row">
                  <label class="sub_txt2">
                    <span>项目-产品:</span>
                  </label>
                </div>
                <div class="span">
                  <select tabindex="-1" id="product" name="product" class="chzn-select span5" data-placeholder="请选择">
                    <optgroup label="项目-产品">
                     <%= option_for_product(send_sycn_attribute_values('order','product')) %>
                    </optgroup>
                  </select>
                </div>
                <div class="span">
                  <a class="selection_icon selection_trigger" data-target="#product" href="javascript:void(0);"></a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="item_two">
                <div class="row">
                  <label class="sub_txt2">
                    <span>产品归类:</span>
                  </label>
                </div>
                <div class="span">
                  <select tabindex="-1" id="product_type" name="product_type" class="chzn-select span5" data-placeholder="请选择">
                    <optgroup label="产品归类">
                      <%= option_for_order_product_type(send_sycn_attribute_values('order','product_type')) %>
                    </optgroup>
                  </select>
                </div>
                <div class="span">
                  <a class="selection_icon selection_trigger" data-target="#product_type" href="javascript:void(0);"></a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="item_two">
                <div class="row">
                  <label class="sub_txt2">
                    <span>项目任务:</span>
                  </label>
                </div>
                <div>
                  <input type="text" id="project_task" name="project_task" value="<%=send_sycn_attribute_values('order','project_task')%>" placeholder="请填写项目任务" style="width: 370px">   </input>
                </div>
              </div>
            </div>


          </div>
        </div>



        <!--<%#if current_user.is?(Role.legal_officer_function_group) %>-->
          <!--<div class="row">-->
              <!--<div class="item_two">-->
                <!--<div class="outer_submit row" style="margin-left: 155px;">-->
                  <!--<input type="button" id="sync_attributes"  value="同步到SAP" onclick="set_sync_flag()"  class="submit">-->
                <!--</div>-->
                <!--<div style="margin-left: 280px;margin-top: -25px;">-->
                  <!--<span style="color: red">同步状态:</span>-->
                  <!--<span id="sync_flag_text" style="color: limegreen">-->
                    <!--<%# if @order.sync_flag.blank? %>-->
                      <!--<%#="未同步" %>-->
                        <!--<%# elsif @order.sync_flag == 0 %>-->
                      <!--<%#="已请求同步" %>-->
                        <!--<%# elsif @order.sync_flag == 1 %>-->
                      <!--<%#= "已同步:"+ (@order.sync_time.utc-8*60*60).strftime("%Y/%m/%d %H:%M") %>-->
                    <!--<%# end %>-->
                  <!--</span>-->
                <!--</div>-->
              <!--</div>-->
          <!--</div>-->
        <!--<%# else %>-->
          <div class="row">
            <div class="item_two">
              <div class="row" style="margin-left: 155px;">
                <span style="color: red">同步状态:</span>
                <span id="sync_flag_text" style="color: limegreen">
                    <% if @order.sync_flag.blank? %>
                      <%="未同步" %>
                        <% elsif @order.sync_flag == 0 %>
                      <%="已请求同步" %>
                        <% elsif @order.sync_flag == 1 %>
                      <%= "已同步:"+ (@order.sync_time.utc-8*60*60).strftime("%Y/%m/%d %H:%M") %>
                    <% end %>
                </span>
              </div>
            </div>
          </div>
        <!--<%# end %>-->

  </div>
    <!--end-->

    <!-- </form> -->
  </div>


<!--include expandTable.js-->
<script type="text/javascript">

    function set_sync_flag(){
        <% if can_edit_action? %>
        $('#sync_flag').val("0");
        $('#sync_flag_text').text("已请求同步");
        <% else %>
        $.ajax({
            type: "GET",
            url: "/<%=I18n.locale.to_s%>/orders/ajax_save_sync_flag?order_id=" + <%= @order.id %> ,
            dataType: "json",
            success: function (msg) {
              $('#sync_flag_text').text("已请求同步");
            },
            error: function (msg) {
            }
        });
        <% end%>
    }
</script>
