<script src="/libs/datatables-1.10.4/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/libs/datatables-1.10.4/extensions/Scroller/js/dataTables.scroller.js" type="text/javascript"></script>
<%= javascript_include_tag "chosen.jquery.min" %>
<link rel="stylesheet" type="text/css" href="/js/bubble/css/style.css">
<div id="index">
  <div id="ajax-tabular"></div>
  <div style="clear:both"></div>
  <div class="container t_margin_0">
    <div class='row'><div class='pull-left header_add_new_link'><a href="<%= new_order_path %>">新增订单</a></div></div>
    <div class='row'><div class='client-row'><h2>售前预览</h2></div></div>
    <div class="section t_padding_0 b_padding_0 section-tab">
      <ul class="book-tab">
        <li class="active"><a href="#tab-1" data-toggle="tab">精选网站列表</a></li>
        <li><a href="#tab-2" data-toggle="tab">人群兴趣标签</a></li>
      </ul>
      <div class="cle"></div>
    <div class="tab-content">
      <!-- tab-精选网站列表 start -->
      <div class="tab-pane active" id="tab-1">
        <div class="form-horizontal">
          <div class="control-group t_margin_20">
            <label class="control-label">
                <label for="campaign_campaignname" class="inline">所属行业</label>
            </label>
            <div class="controls">
              <div class="row">
                <div class="span">
                  <select id="industy" name="industry" class="required select span5">
                    <option value=""><%= "请选择"%></option>
                    <%= options_for_media_industry %>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="control-group t_margin_20">
            <label class="control-label">
                <label for="campaign_campaignname" class="inline">广告形式</label>
            </label>
            <div class="controls">
              <div class="row">
                <div class="span">
                  <select id="ad_format" name="ad_format" class="required select span5">
                    <option value=""><%= "请选择"%></option>
                    <%= options_for_media_ad_format %>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
              <!-- button area -->
              <div class="button_area">
                <div class="r_margin_20">
                  <div class="pull-right">
                      <div class="outer_submit">
                          <input type="button" id="media_preview_button" value="提交" onclick="media_preview();" />
                      </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="row l_padding_10 loading" id="ajax-loading"></div>
          <div id="media_list"><%#= render :partial => "media_list", :locals => {:all_sites => @all_sites} %></div>
      </div>
    </div>
      <!-- tab-精选网站列表 end -->
      <!-- tab-人群兴趣标签 start -->
      <div class="tab-pane" id="tab-2">
        <form method="post" id="campaign_form" class="form-horizontal" action="/zh-cn/campaigns/3719">
          <div class="control-group t_margin_20">
            <label class="control-label">
                <label for="campaign_campaignname" class="inline">兴趣标签</label>
            </label>
            <div class="controls">
              <div class="row">
                <div class="span">
                    <select name="interest" id="interest" class="required select span5">
                      <%= options_for_interests %>
                    </select>
                </div>
              </div>
              <div id="sub_interest_zone" class="l_margin_0 hide">
                <div class="row b_margin_5">
                  <div class="span">
                    <label class="sub_txt2">兴趣细分</label>
                  </div>
                </div>
                <div class="row"> 
                  <div class="item_two " id="sub_interest_div">
                  </div> 
                </div> 
              </div>
            </div>
          </div>
          <div class="row">
              <!-- button area -->
              <div class="button_area">
                <div class="r_margin_20">
                  <div class="pull-right">
                      <div class="outer_submit">
                          <input type="button" id="interest_preview_button" value="提交" onclick="interest_preview();" />
                      </div>
                  </div>
                </div>
              </div>
          </div>
        </form>
          <div class="xmo-progress hide" id="progress_data">
            <div class="xmo-progress-t"><%= "分析中..." %></div>
              <div class="progress progress-striped active">
                <div class="bar" style="width: 0%;"></div>
              </div>
            <div class="xmo-progress-b">0%</div>
          </div>
        <div id="interest_detail"></div>
      </div>
      <!-- tab-人群兴趣标签 end -->
    </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var XMO_Processing = {
    time : 10000,
    progress : 0,
    maxPregress : 96,
    interval : null,
    init : function (){
      var _this = this;
      this.interval = setInterval(function(){
        _this.setProcess();
        if(_this.progress == 96){
          clearInterval(_this.interval);
          _this.over();
        }
      },100);
    },
    setProcess : function(){
      this.progress<this.maxPregress?this.progress++ : '';
      $('.xmo-progress .xmo-progress-b').html(this.progress+'%');
      $('.xmo-progress .bar').css({width:this.progress+'%'});
    },
    ajax_data : function(){
      var _this = this;
      interest_ids = $("#sub_interests").val();
      interest_ids = (interest_ids == null || $("#sub_interests").val() == "") ? $("#interest").val().split(",") : interest_ids;
      $.ajax({
          type: 'post',
          data: {interest_ids: interest_ids},
          url: "<%= interest_preview_orders_path %>",
          success: function(data) {
            $("#progress_data").hide();
            $("#interest_detail").html(data);
            _this.progress = 0;
            _this.setProcess();
          },
         error: function(data) {}
      });
    },
    over : function(){
      this.setProcess();
      this.ajax_data();
      // location.href = url;
    }
    
  }
  $("#sub_interests").chosen();
  //右边触发js
  $('.selection_trigger').click(function(){
  var target = $(this).attr('data-target') + '_chzn';
  $(target).mousedown();
  return false;
  })
  $("#sub_interests_chzn").css("width", "380px").trigger("liszt:updated");
// $("#industy").change(function(){
//    $.ajax({
//           type: 'post',
//           data: {industry_id: $(this).val()},
//           url: "<%= get_medias_orders_path %>",
//           success: function(data) {
//             $("#media_list").html(data);
//           },
//          error: function(data) {}
//       });
// })
$("#interest").change(function(){
  var interest_ids = $(this).val();
  if(interest_ids != ""){
    $("#interest").removeClass("have_error");
    $.ajax({
          type: 'post',
          data: {interest_ids: interest_ids},
          url: "<%= get_sub_interests_orders_path %>",
          success: function(reply) {
            sub_interests_options = reply["sub_interests_options"];
            if (sub_interests_options.length > 0){
              var selected_html = "<div class='span'><select id='sub_interests' name='sub_interests[]' data-placeholder='请选择' class='chzn-select select chosen span5' multiple >"
              selected_html += "<option value=''></option>"
              $.each(sub_interests_options,function(index, value){
                selected_html += "<option value=" + value[1] + ">" + value[0] + "</option>"
              })
              selected_html += "</select></div><div class='span'><a class='selection_icon selection_trigger' data-target='#sub_interests' href='javascript:void(0);'></a></div>"
              $("#sub_interest_div").html(selected_html);
              $("#sub_interest_zone").show();
              $("#sub_interests").chosen();
              $("#sub_interests_chzn").css("width", "380px").trigger("liszt:updated");
              $(".chzn-drop").css("width", "380px");
            }else{
              $("#sub_interest_div").html("<input type='text' style='display:none;' id='sub_interests' value=''/>");
              $("#sub_interest_zone").hide();
            }
          },
         error: function(reply) {}
      });
  }else{
    $("#sub_interest_zone").html("<input type='text' style='display:none;' id='sub_interests' value=''/>");
    $("#sub_interest_zone").hide();
  }
  
})

function interest_preview(){
  if($("#interest").val() == ""){
    $("#interest").addClass("have_error");
    $("#interest_detail").html("");
    $("#progress_data").hide();
  }else{
    $("#progress_data").show();
    $("#interest").removeClass("have_error");
    $("#interest_detail").html("");
    XMO_Processing.init();
    
  }
}

function media_preview(){
  $('#ajax-loading').html("<div style='text-align: center'><img src='/images/pre-loading_small.gif'/></div>");
  $("#media_list").html("");
  $.ajax({
          type: 'post',
          data: {industry_id: $("#industy").val(), ad_format: $("#ad_format").val()},
          url: "<%= get_medias_orders_path %>",
          success: function(data) {
            $("#media_list").html(data);
            $('#ajax-loading').html("");
            
          },
         error: function(data) {}
      });
}
</script>