<div class="welcom-bg">
  <div class="welcome-body">
    <div class="welcome-title">
      <h2><%= t("order.welcome.welcome_title") %></h2>

      <p><%= t("order.welcome.first_order") %></p>

      <p><%= t("order.welcome.easy_start") %></p>

      <div class='pull-left plus-button' style='margin-left:0px;'>
        <a href="<%= new_order_url %>"><i class='plus-ico'></i><span><%= t("order.welcome.create_button") %></span></a>
      </div>
    </div>
  </div>
</div>