<style type="text/css">
    .table_wraper{width: 960px;}
    .email_table{border: 0;width: 960px;}
    .email_table tr{width: 960px;}
    .email_table td{border:1px solid black;padding: 3px;}

    .email_table .t_info{text-align: center;}
    .email_table tr.t_noborder td{border-top: 0;}
    .email_table tr.t_noborder td:first-child{border-right: 0;width: 298px;}
    .email_table tr.t_noborder td:last-child{text-align: center;width: 648px;}
    .ad_item div{border-top: 1px solid black;}
    .ad_item div:first-child{border-top: 0;}
    .font_red{color: red;}
</style>
<% if local_language == "en"%>
    <div class="table_wraper" style="width:960px;">
      <table style="border: 0;width: 960px;" class="email_table table table-striped table-bordered table-condensed width_100" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr style="width:960px;">
          <td colspan='2' class="t_info" style="background:#FF9933;width:960px;text-align:center;">Advertiser Information</td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Advertiser ID</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= "%06d" % client.id %></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Advertiser</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= client.clientname%></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Brand</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= Client.display_item_class(client.brand)%></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Agency</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= Client.display_item_class(client.channel_name)%></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Transregional Advertiser</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= client.whether_cross_district? ? 'Yes' : 'No' %></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Industry</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= client.industry.present? ? client.industry.name : "-" %></td>
        </tr>

        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Currency</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= client.currency.try(:name) %></td>
        </tr>

        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Contact Person</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%=Client.display_item_class(client.clientcontact)%></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Position</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%=Client.display_item_class(client.linkman_position)%></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Contact Number</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%=Client.display_item_class(client.clientphone)%></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Company Address</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%=Client.display_item_class(client.address)%></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Salesperson</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= client.share_client_user.present? ? client.share_client_user : "-" %></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Created Time</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= client.created_at.localtime.to_s(:db)%></td>
        </tr>
        </tbody>
      </table>
    </div>


<% else %>

    <div class="table_wraper" style="width:960px;">
      <table style="border: 0;width: 960px;" class="email_table table table-striped table-bordered table-condensed width_100" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr style="width:960px;">
          <td colspan='2' class="t_info" style="background:#FF9933;width:960px;text-align:center;">广告主信息</td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">广告主编号</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= "%06d" % client.id %></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">广告主</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%=client.clientname%></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">品牌</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= Client.display_item_class(client.brand)%></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">代理公司</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= Client.display_item_class(client.channel_name)%></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">跨区广告主</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= client.whether_cross_district? ? '是' : '否' %></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">行业</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= client.industry.present? ? client.industry.name_cn : "-"%></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">货币</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= client.currency.try(:name) %></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">广告主联系人</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= Client.display_item_class(client.clientcontact)%></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">联系人职位</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%=Client.display_item_class(client.linkman_position)%></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">联系人电话</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%=Client.display_item_class(client.clientphone)%></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">公司地址</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%=Client.display_item_class(client.address)%></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">销售人员</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= client.share_client_user.present? ? client.share_client_user : "-" %></td>
        </tr>
        <tr class="t_noborder" style="width:960px;">
          <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">创建时间</td>
          <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= client.created_at.localtime.to_s(:db)%></td>
        </tr>
        </tbody>
      </table>
    </div>
<%end%>