<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear Sir/Madam,</p><br/>
    <p>The following client & subjected channel were connected.</p><br/>
    <p>Client Name: <%=@client.clientname%></p>
    <p>Brand: <%=@client.brand.present? ? @client.brand : "-"%></p>
    <p>Channel: <%=@client.channel_name%></p><br/>
    <p>After client & channel were connected, all users under this channel have the authority of the client operation, </p>
    <p>Including create and view orders under this client.</p><br/>
    <p>Regards,</br>
    iClick Interative Asia Limited</p>


    <p>您好：</p><br/>
    <p>以下客户和您已挂钩的渠道被绑定。</p><br/>
    <p>客户名称： <%=@client.clientname%></p>
    <p>品牌名称： <%=@client.brand.present? ? @client.brand : "-"%></p>
    <p>渠道： <%=@client.channel_name%></p><br/>
    <p>客户和渠道被绑定后，隶属该渠道的所有销售拥有该客户的操作权限，</p>
    <p>包括创建订单，以及查看该客户的所有订单内容。</p><br/>
    <p>谢谢</p><br/>

    <p>爱点击互动</p>
  </body>
</html>