<style type="text/css">
    .table_wraper{width: 960px;}
    .email_table{border: 0;width: 960px;}
    .email_table tr{width: 960px;}
    .email_table td{border:1px solid black;padding: 3px;}

    .email_table .t_info{text-align: center;}
    .email_table tr.t_noborder td{border-top: 0;}
    .email_table tr.t_noborder td:first-child{border-right: 0;width: 298px;}
    .email_table tr.t_noborder td:last-child{text-align: center;width: 648px;}
    .ad_item div{border-top: 1px solid black;}
    .ad_item div:first-child{border-top: 0;}
    .font_red{color: red;}
</style>

<div class="table_wraper" style="width:960px;">
  <table style="border: 0;width: 960px;" class="email_table table table-striped table-bordered table-condensed width_100" cellpadding="0" cellspacing="0" border="0">
    <tbody>

    <tr style="width:960px;">
      <td colspan='2' class="t_info" style="background:#FF9933;width:960px;text-align:center;">Advertiser</td>

    </tr>
    <tr class="t_noborder" style="width:960px;">
      <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Advertiser</td>
      <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= @client.present? ? @client.clientname : "-"%></td>
    </tr>
    <tr class="t_noborder" style="width:960px;">
      <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Brand</td>
      <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= Client.display_item_class(@client.brand) %></td>
    </tr>
    <tr class="t_noborder" style="width:960px;">
      <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Agency</td>
      <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= Client.display_item_class(@client.channel_name)%></td>
    </tr>
    <tr class="t_noborder" style="width:960px;">
      <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Industry</td>
      <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= @client.industry.present? ? @client.industry.name : "-"%> </td>
    </tr>

    <tr style="height:20px;"><td colspan='2' style="border:0"></td></tr>

    <tr style="width:960px;">
      <td colspan='2' class="t_info" style="background:#FF9933;width:960px;text-align:center;">Order Details</td>

    </tr>
    <tr class="t_noborder" style="width:960px;">
      <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Order ID</td>
      <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%=@order.code%></td>
    </tr>
    <tr class="t_noborder" style="width:960px;">
      <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Order Name</td>
      <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= @order.title.present? ? @order.title : "-" %></td>
    </tr>
    <tr class="t_noborder" style="width:960px;">
      <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Total Budget (RMB)（<%=@order.budget_currency%>）</td>
      <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;color:red;" class="font_red"><%= number_with_precision(@order.budget, :precision => 2, :delimiter => ",") %> </td>
    </tr>
    <tr class="t_noborder" style="width:960px;">
      <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Campaign Start Date</td>
      <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= @order.start_date.to_s(:db) %></td>
    </tr>
    <tr class="t_noborder" style="width:960px;">
      <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Campaign End Date</td>
      <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= @order.ending_date.to_s(:db) %></td>
    </tr>
    <tr class="t_noborder" style="width:960px;">
      <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Excluded Date</td>
      <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= @order.exclude_date.length==0 ? '-' : @order.exclude_date.join(',') %></td>
    </tr>
    <tr class="t_noborder" style="width:960px;">
      <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Total Number of Days</td>
      <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= @order.period %> days</td>
    </tr>
    <tr class="t_noborder" style="width:960px;">
      <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Service Fee</td>
      <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= @order.service_charges.present? ? @order.service_charges : '-' %></td>
    </tr>
    <tr class="t_noborder" style="width:960px;">
      <td style="border:1px solid black;padding: 3px;border-top: 0;width: 298px;border-right: 0;">Service Fee Rate</td>
      <td style="border:1px solid black;padding: 3px;border-top: 0;text-align: center;width: 648px;"><%= @order.service_charges_scale.present? ?  @order.service_charges_scale : '-' %></td>
    </tr>

    <tr style="height:20px;"><td colspan='2' style="border:0"></td></tr>

    </tbody>
  </table>
</div>

