<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div>
      <p style="color:red;">
      注：此订单由销售<%=@user.username%>提起发送给相关功能组，请各位同事注意进行相关配合与准备。
      </p>
      <p>您好：</p>
      <p>您的订单：<%= @order.code %></p>
      <p>项目名称：<%= @order.title %></p>
      <p>状态已更改为：<%= I18n.t @order.state %></p>
      <p>您可以登录系统查看详情，链接为：http://<%= CURRENT_DOMAIN %>/<%= I18n.locale.to_s%>/orders/scheduling?id=<%=@order.id%>
      </p>
      <p>以下为订单详情：</p>
      <div>
        <%if @order.whether_service?%>
            <%= render :partial => "service_order_template",:object=>@order %>
        <%else %>
            <%= render :partial => "order_template",:object=>@order %>
            <%= render :partial => "advertisement_template",:object=>@order %>
        <% end %>
      </div>
      <p>谢谢</p>

      <p>爱点击互动</p>
    </div>
  </body>
</html>