<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<body>
<div>
<% if @local_language == "en" %>
<p>Dear Sir/Madam,</p>
<p>This following order approval by mail failed, probably because it had already been approved or incorrect mail reply.</p>
<p>Order <%= @order.code %>: <%= @order.title%></p>
<p>Link: http://<%= CURRENT_DOMAIN %>/en/orders/<%= @order.id%></p>

<p>Please login to the system for details.</p>
<% if @body %>
    E-mail Reply:
    <%= @body %>
<% end %>
<p>If any enquiries, please contact: technology@i-click.com</p>
<p>Regards,</p>
<p>iClick Interactive Asia Limited</p>

<% else %>
<p>您好:</p>
<p>以下订单通过邮件审批失败，原因可能是已被审批 或 回复不正确。</p>
<p>订单 <%= @order.code %>: <%= @order.title%></p>
<p>链接: http://<%=CURRENT_DOMAIN %>/zh-cn/orders/<%= @order.id %></p>
<p>您可以登录系统查看详情。</p>
<% if @body %>
    邮件回复内容：
    <%= @body %>
<% end %>
<p>如有问题，请联系: technology@i-click.com</p>
<p>谢谢</p>
<p>爱点击互动（北京）广告有限公司</p>
<% end %>
</div>
</body>
</html>