<p>
  您好，</p>
<p>
  &nbsp;</p>
<p>
  客户已签字排期表000008正在等待审批。</p>
<p>
  &nbsp;</p>
<p>
  * 您可以直接回复YES 或 NO （不区分大小写），给出审批结果。YES
  代表通过，NO代表不通过。您也可以登录系统进行审批，链接为：<a href="http://www.xxx.com/xxx/xxx">http://www.xxx.com/xxx/xxx</a>。（注：此链接为销售总监审批已上传排期表页面）
</p>
<p>
  &nbsp;</p>
<p>
  &nbsp;</p>
<p>
  <strong><u>以下为排期表详情：</u></strong></p>
<p>
  排期表编号：000008</p>
<p>
  订单编号：<%= @order.code %></p>
<p>
  客户名称：<%= @order.client.clientname %></p>
<p>
  所属行业：旅游业</p>
<p>
  客户联系人：<%= @order.client.linkmen_name %></p>
<p>
  联络人电话：<%= @order.client.linkmen_name %></p>
<p>
  订单创建人：<%= @order.user.real_name %></p>
<p>
  订单创建时间：<%= @order.created_at.strftime("%Y.%m.%d") %></p>
<p>
  排期表上传时间：2014.12.28</p>
<p>
  &nbsp;</p>
<p>
  &nbsp;</p>
<p>
  谢谢。</p>
<p>
  爱点击互动</p>

